{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "syntax-exponentiation-operator",
    "transform-exponentiation-operator",
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"]
    }]
  ]
}
